src/main/mule/implementation/post-customer-registration-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="post-customer-registration-implementation-flow" doc:id="0039b7e7-4433-416a-bbc9-86c078a63c3f" >
		<logger level="INFO" doc:name="Request Logger For Registration SAPI" doc:id="b605cae8-1953-44d2-a6ad-a4d5ba339a8c" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(), &#10;    transactionId: vars.headers.'x-cms-transactionId',&#10;    AppName: app.name,&#10;    FLowName: flow.name,&#10;    BusinessProcessName: &quot;Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Experience API&quot;,&#10;    DesinationApplication: &quot;System API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;SAPI Request&quot;&#10;}]"/>
		<ee:transform doc:name="Transform Message From Registration to Customer State Format" doc:id="43e5c159-329b-4592-b09c-a29f3fd19d2b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "customerStateRequest": {
    "contactType": vars.requestPayload.registrationRequest.contactType,
    "countryCode": vars.requestPayload.registrationRequest.countryCode,
    "mobile": vars.requestPayload.registrationRequest.mobile,
    "password": vars.requestPayload.registrationRequest.password,
    "status": false
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference To Customer State Implementation Flow" doc:id="befb1c41-cac1-422f-a860-2c5baa4336cf" name="post-cutomer-state-implementation-flow" />
		<http:request method="POST" doc:name="Request Registration SAPI" doc:id="d573cc23-cbab-4a9a-9777-ea964c48bbb4" config-ref="HTTP_Request_configuration-Registration_SAPI" path="${http.requester.registration.sapi.pathRegistration}" responseTimeout="1200000">
			<http:body ><![CDATA[#[vars.requestPayload]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"clientSecret" : vars.headers.'clientSecret',
	"x-cms-transactionId" : vars.headers.'x-cms-transactionId',
	"clientId" : vars.headers.'clientId',
	"client_secret" : "A08523067eC343968B98A8908553D3d1",
	"client_id" : "1f3c5bab58f14d99b0a8f3ff4413ba87"	
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"featureName" : vars.queryParams.'featureName'
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="05403239-9f89-49b6-bb30-265b64e02ee4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "verificationRequest": {
    "contactType": vars.requestPayload.registrationRequest.contactType default "",
    "countryCode": vars.requestPayload.registrationRequest.countryCode default "",
    "mobile": vars.requestPayload.registrationRequest.mobile default "",
    "email": vars.requestPayload.registrationRequest.email default "",
    "messageContent": "Please verify mobile number"
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="f867408f-1595-46b8-a383-8dd83824d2f7" name="post-cutomer-state-verification-flow"/>
		<logger level="INFO" doc:name="Response Logger For Registration SAPI" doc:id="3ea7b5a4-81e1-4e60-9011-92d22892c880" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(),&#10;    transactionId: vars.headers.'x-cms-transactionId',&#10;    AppName: app.name,&#10;    FlowName: flow.name,&#10;    BusinessProcessName: &quot;Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Experience API&quot;,&#10;    DesinationApplication: &quot;System API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;SAPI Response&quot;&#10;}]"/>
		<ee:transform doc:name="Transform Message to Create Customer State SAPI Response" doc:id="625068e8-a14f-4296-ae47-a5e5b49ec96d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  customerRegistration: {
    eventInstanceId: vars.headers.'x-cms-transactionId',
    status: "Success"
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
