target/META-INF/mule-src/customer-papi-app-v1/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	<flow name="api-main">
		<http:listener config-ref="api-httpListenerConfig"
			path="/api/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="api-config" />
		<error-handler ref="apikit-global-errorError_Handler" />
	</flow>
	<flow name="api-console">
		<http:listener config-ref="api-httpListenerConfig"
			path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="api-config" />
		<error-handler ref="apikit-global-errorError_Handler" />
	</flow>
	<flow name="post:\customerState:application\json:api-config">
		<flow-ref
			doc:name="Flow Reference To Call Initialize Request Data"
			doc:id="64b5d7b5-f03d-4531-be98-10bdf1e34862"
			name="initialize-request-data-subFlow" />
		<logger level="INFO"
			doc:name="Start Logger For Customer State API"
			doc:id="b379d1c7-3727-4a03-b809-de7f017e9904"
			message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(), &#10;    transactionId: vars.headers_var.'X-lyt-transactionId',&#10;    AppName: app.name,&#10;    FLowName: flow.name,&#10;    BusinessProcessName: &quot;Customer State&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Experience API&quot;,&#10;    DesinationApplication: &quot;System API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;START&quot;&#10;}]" />
		<flow-ref
			doc:name="Flow Reference To Call Customer State Implementation"
			doc:id="6008e602-c93e-44d9-b891-7447168dbdd1"
			name="post-cutomer-state-implementation-flow" />
		<logger level="INFO"
			doc:name="End Logger For Customer State API"
			doc:id="2e1233fd-3ab9-4ce3-9127-6b0979160443"
			message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(),&#10;    transactionId: vars.headers_var.'X-lyt-transactionId',&#10;    AppName: app.name,&#10;    FlowName: flow.name,&#10;    BusinessProcessName: &quot;Customer State&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Experience API&quot;,&#10;    DesinationApplication: &quot;System API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;END&quot;&#10;}]" />
		<error-handler
			ref="implementation-global-errorError_Handler" />
	</flow>
	<flow name="post:\verification:application\json:api-config">
		<flow-ref
			doc:name="Flow Reference To Call Initialize Request Data"
			doc:id="7264cb8e-9192-4ca3-bff3-edf5b123d7c7"
			name="initialize-request-data-subFlow" />
		<logger level="INFO"
			doc:name="Start Logger For Verification API"
			doc:id="388cb4bd-6e5a-4bbb-8fd2-09960257e633"
			message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(), &#10;    transactionId: vars.headers_var.'X-lyt-transactionId',&#10;    AppName: app.name,&#10;    FLowName: flow.name,&#10;    BusinessProcessName: &quot;Verification&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Experience API&quot;,&#10;    DesinationApplication: &quot;System API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;START&quot;&#10;}]" />
		<flow-ref
			doc:name="Flow Reference To Call Verification Implementation"
			doc:id="97494e8c-54f4-47b0-971d-eda8f490802c"
			name="post-cutomer-state-verification-flow" />
		<logger level="INFO" doc:name="End Logger For Verification API"
			doc:id="ec7550ff-9c2e-456d-8885-0fa3652c8902"
			message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(),&#10;    transactionId: vars.headers_var.'X-lyt-transactionId',&#10;    AppName: app.name,&#10;    FlowName: flow.name,&#10;    BusinessProcessName: &quot;Verification&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Experience API&quot;,&#10;    DesinationApplication: &quot;System API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;END&quot;&#10;}]" />
		<error-handler
			ref="implementation-global-errorError_Handler" />
	</flow>
	<flow
		name="post:\customers\registration:application\json:api-config">
		<flow-ref
			doc:name="Flow Reference To Call Initialize Request Data"
			doc:id="9d007509-2866-429d-9edc-bb3643cbf5f1"
			name="initialize-request-data-subFlow" />
		<logger level="INFO"
			doc:name="Start Logger For Customer Registration API"
			doc:id="539c5fe9-7a63-41b2-b47a-252888ce885b"
			message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(), &#10;    transactionId: vars.headers_var.'X-lyt-transactionId',&#10;    AppName: app.name,&#10;    FLowName: flow.name,&#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DesinationApplication: &quot;Salesforce&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;START&quot;&#10;}]" />
		<flow-ref
			doc:name="Flow Reference To Call Customer Registration Implementation"
			doc:id="79972850-28eb-4c20-8fa0-efbbdfdc402e"
			name="post-customer-registration-implementation-flow" />
		<logger level="INFO"
			doc:name="End Logger For Customer Registration API"
			doc:id="44294ab1-35cd-41c4-8444-9f9fe8cd13f0"
			message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now(),&#10;    transactionId: vars.headers_var.'X-lyt-transactionId',&#10;    AppName: app.name,&#10;    FlowName: flow.name,&#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DesinationApplication: &quot;Salesforce&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    txnState: &quot;END&quot;&#10;}]" />
		<error-handler
			ref="implementation-global-errorError_Handler" />
	</flow>
</mule>
